@font-face {
   font-family: 'VT323';
   src: url('./fuente/VT323-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'VT323', consolas, roboto;
   font-size: 20px;
   letter-spacing: 1px;
}

body {
   background-color: #343047;
}

.box-procesador {
   position: relative;
   top: 50px;
   display: flex;
   justify-content: space-around;
}

.tabla-algoritmo {
   border: 1px solid #fff;
   border-collapse: collapse;
   color: #fff;
}

.tabla-algoritmo tr:nth-child(even) {
   background-color: rgb(255 255 255 / .1);
   color: #fff;
}

.tabla-algoritmo tr:nth-child(odd) {
   color: #fff;
}

.tabla-algoritmo tr:first-child {
   background-color: #fff;
   color: #333;
}

.tabla-algoritmo tr:first-child td {
   border-right: 1px solid rgb(0 0 0 / .2);
}

.tabla-algoritmo tr:hover {
   background-color: #3CE995;
   color: #333;
}

.tabla-algoritmo tr td {
   padding: 2px 10px;
   text-align: center;
}

.T, .E, .I {
   color: #ff248a;
   font-weight: bold;
}