@font-face {
   font-family: 'VT323';
   src: url("../fuente/VT323-Regular.ttf");
}

:root {
   --clr-primario: ;
   --clr-secundario: ;   
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "VT323", consolas, sans-serif;
}

html {
   font-size: 20px;
}

body {
   background: linear-gradiente();
}

/* GENERALES */
.ocultar {
   display: none;
}

.visible {
   display: inline-block;
}

/* MENU */
.menu {
   background-color: #222;
   width: 100%;
   height: max-content;
   padding: 13px 20px;
}

.bxMenuDesplegable .iconoMenu {
   cursor: pointer;
}

.bxMenuDesplegable .contenidoMenu.active {
   display: inline-block;
}

.bxMenuDesplegable .contenidoMenu ul {
   list-style: none;
}

.bxMenuDesplegable .contenidoMenu ul li a {
   display: inline-block;
   text-decoration: none;
   color: #333;
   padding: 10px 0;
}

.bxMenuDesplegable .contenidoMenu ul li:hover {
   background-color: rgb(255 255 255 / .8);
}

.bxMenuDesplegable .contenidoMenu ul li:hover a {
   color: #333;
}

.menu .bxMenu {
   list-style: none;
   display: flex;
   height: max-content;
}

.menu .bxMenu a {
   position: relative;
   color: rgb(255 255 255 / .6);
   text-decoration: none;
   padding: 15px 14px;
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
}

.menu .bxMenu a.active {
   background: linear-gradient(to right, var(--clr-primario) 100%, var(--clr-secundario) 0%);
   color: #333;   
}

.menu .bxMenu a.active::before {
   content: '';
   position: absolute;
   left: -20px;
   bottom: 0;
   width: 20px;
   height: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: 5px 5px 0 5px var(--clr-primario);
}

.menu .bxMenu a.active::after {
   content: '';
   position: absolute;
   left: 100%;
   bottom: 0;
   width: 20px;
   height: 20px;
   border-bottom-left-radius: 20px;
   box-shadow: -5px 5px 0 5px var(--clr-primario);
}

.titulo {
   font-size: 2rem;
   color: rgb(255 255 255 / .5);
   margin: 2rem;
   text-decoration: underline;
   text-align: center;
}