@font-face {
   font-family: 'VT323';
   src: url('../fuente/VT323-Regular.ttf');
}

:root {
   /* Background Gradient */
   --clr-primario: #3e3f97;
   --clr-secundario: #6B6DC2;

   --clr-verde: #3ce995;

   /* Button Gradient */
   --btn-start: #3ce995;
   --btn-end: #2fc07a;
   --btn-hover-start: #63f0ae;
   --btn-hover-end: #3ce995;

   /* Button Shadow Color */
   --btn-shadow: #2aa86a;

   /* Text Colors */
   --text-color: white;
   --label-opacity: 0.9;

   --clr-rojo: #e2316c;
   --clr-naranja: #e9c838;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'VT323', roboto, consolas;
   letter-spacing: 1px;
   font-size: 20px;
}

html {
   font-size: 24px;
}

body {
   background: linear-gradient(135deg, var(--clr-primario) 0%, var(--clr-secundario) 100%);
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}

/* GENERALES */
.ocultar {
   display: none;
}

.visible {
   display: inline-block;
}

/* MENU */
.menu {
   background-color: #222;
   width: 100%;
   height: max-content;
   padding: 13px 20px;
}

.bxMenuDesplegable .iconoMenu {
   cursor: pointer;;
}

.bxMenuDesplegable .contenidoMenu {
   
}

.bxMenuDesplegable .contenidoMenu.active {
   display: inline-block;
}

.bxMenuDesplegable .contenidoMenu ul {
   list-style: none;
}

.bxMenuDesplegable .contenidoMenu ul li a {
   display: inline-block;
   text-decoration: none;
   color: #fff;
   padding: 10px 0;
}

.bxMenuDesplegable .contenidoMenu ul li:hover {
   background-color: rgb(255 255 255 / .8);
}

.bxMenuDesplegable .contenidoMenu ul li:hover a {
   color: #333;
}


.menu .bxMenu {
   list-style: none;
   display: flex;
   height: max-content;
}

.menu .bxMenu a {
   position: relative;
   color: rgb(255 255 255 / .6);
   text-decoration: none;
   padding: 15px 14px;
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
}

.menu .bxMenu a.active {
   background: linear-gradient(to right, var(--clr-primario) 100%, var(--clr-secundario) 0%);
   color: #fff;   
}

.menu .bxMenu a.active::before {
   content: '';
   position: absolute;
   left: -20px;
   bottom: 0;
   width: 20px;
   height: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: 5px 5px 0 5px var(--clr-primario);
}

.menu .bxMenu a.active::after {
   content: '';
   position: absolute;
   left: 100%;
   bottom: 0;
   width: 20px;
   height: 20px;
   border-bottom-left-radius: 20px;
   box-shadow: -5px 5px 0 5px var(--clr-primario);
}

.titulo {
   font-size: 2rem;
   color: rgb(255 255 255 / .5);
   margin: 2rem;
   text-decoration: underline;
   text-align: center;
}

/* PRINCIPAL */
.contenedor {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 1000px;
   padding: 2rem;
}

.bxRam {
   display: flex;
   justify-content: space-between;
   align-items: center;;
   width: 100%;
}

.bxRam .imgRam {
   width: 100px;
   height: 300px;
   background-image: url('../img/ram.png');
}

.bxRam .bxDatos {
   background-color: var(--clr-rojo);
   width: 200px;
   height: 200px;
   border-radius: 10px;

   box-shadow: 25px 25px 74px rgb(0 0 0 / .25),
               10px 10px 70px rgb(0 0 0 / .25),
               inset 5px 5px 10px rgb(0 0 0 / .5),
               inset 5px 5px 20px rgb(255 255 255 / 0.2),
               inset -5px -5px 15px rgb(0 0 0 / .76);
}

.bxRam .bxDatos .subtitulo {
   color: rgb(255 255 255 / .56);
   font-size: 1.2rem;
   padding: 10px;
}

/* ALGORITMO DE REMPLAZO DE PAGINAS */
.bxRemplazoPaginas {
   --box-width: 30px;
   --box-height: 30px;

   width: 100%;
}

.bxRemplazoPaginas .bxInput {
   margin-bottom: 20px;
}

.bxRemplazoPaginas .nroMarco {
   outline: none;
   border: none;
   background-color: var(--clr-primario);
   padding: 5px 3px;
   color: #ffF;
   width: 70px;

}

.bxInput .btnCorrer {
   --btn-start: #e99e3c;
   --btn-end: #be802e;
   --btn-hover-start: #f3b96d;
   --btn-hover-end: #b6823d;
   --btn-shadow: #996f38;
   
   background: linear-gradient(180deg, var(--btn-start) 9%, var(--btn-end) 100%);
   box-shadow: 0 8px 0 var(--btn-shadow);
   border-radius: 10px;
   outline: none;
   border: none;
   padding: 5px 8px;
   cursor: pointer;
}

.bxInput .btnCorrer:active {
   transform: translateY(6px);
   box-shadow: 0 3px 0 var(--btn-shadow);
}

.bxRemplazoPaginas .bxCola {
   background-color: var(--clr-rojo);
   width: 100%;
   overflow: scroll;
   /* margin-bottom: 10px; */
   white-space: nowrap;
}

.bxCola .nroPagina {
   width: var(--box-width);
   height: var(--box-height);
   text-align: center;
   color: #fff;
   border: 2px solid rgb(0 0 0 / .1);
   font-weight: bold;
   display: inline-block;
}

.bxRemplazoPaginas .bxPaginas {
   /* margin-bottom: 10px; */
   width: 100%;
   overflow: scroll;
   background-color: #f1f1f1;
   display: flex;
}

.bxPaginas .bxPagina {
   display: inline-block;
   width: var(--box-height);
   border: 2px solid rgb(0 0 0 / .01);
}

.bxPaginas .bxPagina .item {
   width: var(--box-width);
   height: var(--box-height);
   display: block;
   color: rgb(255 255 255/ .8);
   text-align: center;
   font-weight: bold;
}

.bxPaginas .bxPagina .item.pintar {
   background-color: var(--clr-naranja);
   color: #333;
}

.bxRemplazoPaginas .bxFA {
   width: 100%;
   overflow: scroll;
   padding: 0 0 10px 0;
   white-space: nowrap;
}

.bxFA .FA {
   width: var(--box-width);
   height: var(--box-height);
   display: inline-block;
   border: 2px solid rgb(0 0 0 / .25);
   padding: 6px;
   line-height: 0.5rem;
   color: #f1f1f1;
   font-weight: bold;;
}

.bxFA .FA.fallo {
   background-color: var(--clr-rojo);
}

.bxFA .FA.ok {
   background-color: var(--btn-hover-end);
}

/* <-- TABLAS --> */
.tablas {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;;
   margin-bottom: 2rem;
}

/* <-- EFICIENCI --> */
.bxEficiencia {
   color: #cecece;
   background-color: var(--clr-rojo);
   width: max-content;
   border-radius: 15px;
   padding: 10px;
   box-shadow: 25px 25px 74px rgb(0 0 0 / .25),
               10px 10px 70px rgb(0 0 0 / .25),
               inset 5px 5px 10px rgb(0 0 0 / .5),
               inset 5px 5px 20px rgb(255 255 255 / 0.2),
               inset -5px -5px 15px rgb(0 0 0 / .76);
}


/* <-- RANKING --> */
.bxRanking {
   background-color: var(--clr-rojo);
   color: #cecece;
   width: max-content;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 25px 25px 74px rgb(0 0 0 / .25),
               10px 10px 70px rgb(0 0 0 / .25),
               inset 5px 5px 10px rgb(0 0 0 / .5),
               inset 5px 5px 20px rgb(255 255 255 / .2), 
               inset -5px -5px 15px rgb(0 0 0 / .7);
}

.tablaRanking .itemRanking {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.itemRanking .nombreAlgoritmos {
   text-align: center;
}

/* MEDIA */
@media (max-width: 665px) {
   .menu .bxMenu {
      display: none;
   }

   .menu .bxMenuDesplegable {
      display: inline-block;
   }
}