@font-face {
   font-family: 'VT323';
   src: url('../fuente/VT323-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}

:root {

   /* Background Gradient */
   --clr-primario: #343047;
   --clr-secundario: #32347a;

   --clr-verde: #3ce995;

   /* Button Gradient */
   --btn-start: #3ce995;
   --btn-end: #2fc07a;
   --btn-hover-start: #63f0ae;
   --btn-hover-end: #3ce995;

   /* Button Shadow Color */
   --btn-shadow: #2aa86a;

   /* Text Colors */
   --text-color: white;
   --label-opacity: 0.9;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'VT323', consolas, roboto;
   font-size: 20px;
   letter-spacing: 1px;
}

body {
   background: linear-gradient(135deg, #343047 0%, #32347a 100%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.menu {
   background-color: #222;
   width: 100%;
   display: flex;
   height: max-content;
   padding: 13px 20px;
}

.menu ul {
   list-style: none;
   display: flex;
   height: max-content;
}

.menu a {
   position: relative;
   color: rgb(255 255 255 / .6);
   text-decoration: none;
   padding: 15px 14px;
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
}

.menu a.active {
   background-color: var(--clr);
   color: #fff;   
}

.menu a.active::before {
   content: '';
   position: absolute;
   left: -20px;
   bottom: 0;
   width: 20px;
   height: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: 5px 5px 0 5px var(--clr);
}

.menu a.active::after {
   content: '';
   position: absolute;
   left: 100%;
   bottom: 0;
   width: 20px;
   height: 20px;
   border-bottom-left-radius: 20px;
   box-shadow: -5px 5px 0 5px var(--clr);
}

.titulo {
   font-size: 2rem;
   color: var(--clr-verde);
   margin: 2rem;
   text-decoration: underline;
}

.contenedor {
   display: flex;
   flex-direction: column;
   gap: 30px;
   max-width: 1000px;
   padding: 30px;
}

.bxControles {
   /* margin-top: 20px; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 30px;
}

.bxControles .algoritmos {
   display: flex;
}

.bxControles .algoritmo {
   background-color: #c5c5c5;
   border-right: 1px solid #333;
   text-align: center;
   padding: 5px;
   cursor: pointer;
}

.algoritmo.active {
   background-color: #646464;
   color: #d5d5d5;
}

.bxControles {
   display: flex;
   flex-direction: column;
}

.bxBtn {
   display: flex;
   gap: 10px;
}

.bxControles .bxBtn button {
   padding: 5px 10px;
   text-decoration: none;
   cursor: pointer;
}

.bxBtn .btnCorrer {
   background: linear-gradient(180deg, var(--btn-start) 0%, var(--btn-end) 100%);
   border: none;
   border-radius: 12px;
   cursor: pointer;
   transition: all 100ms ease;
   box-shadow: 0 8px 0 var(--btn-shadow), 0 12px 12px rgb(0 0 0 / .3);
   padding: 20px 50px;
   transform: translateY(0);
}

.bxBtn .btnCorrer:hover {
   background: linear-gradient(180deg, var(--btn-hover-start) 0%, var(--btn-hover-end) 100%);
}

.bxBtn .btnCorrer:active {
   transform: translateY(6px);
   box-shadow: 0 2px 0 var(--btn-shadow), 0 4px 8px rgb(0 0 0 / .3);
}

.bxBtn .btnLimpiar {
   background: linear-gradient(180deg, #e1ae73 0%, #c57c22 100%);
   color: #333;
   border: none;
   border-radius: 12px;
   transition: all 100ms ease;
   box-shadow: 0 12px 0 #b37b36, 0 12px 12px rgb(0 0 0 / .3);
   padding: 20px 50px;
   transform: translateY(0);
}

.bxBtn .btnLimpiar:hover {
   background: linear-gradient(180deg, #e9aa5e 0%, #e6a14d 100%);
}

.bxBtn .btnLimpiar:active {
   transform: translateY(6px);
   box-shadow: 0 2px 0 #b37b36, 0 4px 8px rgb(0 0 0 / .3);
}
/* 
.bxPromedios {
   color: #fff;
   overflow: scroll;
}

.bxPromedios .promedioT, .bxPromedios .promedioE, .bxPromedios .promedioI {
   color: #ff248a;
} */

.bxProcesos {
   position: relative;
   height: 350px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 0px;
   overflow: scroll;
   /* background-color: #38374e; */
   /* background-color: orange; */
}

.tablaProcesos {
   border: 1px solid #fff;
   border-collapse: collapse;
   color: #fff;
}

.tablaProcesos tr:nth-child(even) {
   background-color: rgb(255 255 255 / .1);
   color: #fff;
}

.tablaProcesos tr:nth-child(odd) {
   color: #fff;
}

.tablaProcesos tr:first-child {
   background-color: #fff;
   color: #333;
}

.tablaProcesos tr:first-child td {
   border-right: 1px solid rgb(0 0 0 / .2);
}

.tablaProcesos tr:hover {
   background-color: #3CE995;
   color: #333;
}

.tablaProcesos tr td {
   padding: 2px 10px;
   text-align: center;
}

.T, .E, .I {
   color: #ff248a;
   font-weight: bold;
}

.bxPromedios {
   position: relative; 
   top: -30px;
   width: 412px;
}

.bxPromedios .tablaPromedios {
   border-collapse: collapse;
   width: 100%;
   color: #fff;
}

.bxPromedios .tablaPromedios tr td {
   padding: 1px;
   text-align: center;
   background-color: #fff;
   color: #333;
   border-right: 3px solid rgb(0 0 0 / .3);
}

.bxPromedios .tablaPromedios .bgTransparente {
   background-color: transparent;
   border: none;
}

/* MODAL */
.bxModal {
   width: 100%;
   height: 100%;
   background-color: rgb(51 51 51 / .5);
   backdrop-filter: blur(3px);
   position: absolute;
   top: 0;
   left: 0;
   display: none;
}

.bxGrafico {
   position: relative;
   width: 100%;
   height: 400px;
   background-color: #32347a;
   
   box-shadow: 10px 10px 30px rgb(0 0 0 / .25),
   5px 5px 20px rgb(0 0 0 / .25),
   inset 3px 3px 7px rgb(0 0 0 / .5),
   inset 6px 6px 15px rgb(255 255 255 / .2),
   inset -3px -3px 15px rgb(0 0 0 / .7);
}

.bxCuadriculas {
   position: absolute;
   top: 0;
   left: 0;
   overflow: scroll;
   width: 100%;
   height: 100%;
}

/* .bxGrafico .ejeY {
   height: 100%;
   width: 10px;
   display: grid;
   grid-template-columns: 20px;
   }
   
   .bxGrafico .ejeY .celdaNumero {
      background-color: transparent;
      color: #fff;
      border: 1px solid rgb(0 0 0 / .2);
      font-size: 13px;
      text-align: center; 
      /* background-color: purple;
      } */

.tituloGrafico {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 2;
   color: rgb(255 255 255 / .5);
   font-size: 28px;
   padding: 20px;
}
      
.bxGrafico .cuadriculas {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 1;
   padding: 0 0 30px 0;
   display: grid;
   /* grid-gap: 1px; */
}

.bxGrafico .cuadriculas .bloque {
   transition: 100ms linear;
   background-color: #3CE995;
   border: 1px solid rgb(0 0 0 / .3);
   box-shadow: 0 0 7px #3CE995;
}


.bxGrafico .cuadriculas .oculto {
   transition: 100ms linear;
   background-color: transparent;
   /* border-right: 2px solid rgb(255 255 255 / .1); */
   /* border-left: 2px solid rgb(255 255 255 / .1); */
}

.bxGrafico .cuadriculas .celda.hover-activo {
   background-color: #6f5bd3;
}

.bxGrafico .cuadriculas .final {
   transition: 100ms linear;
   background-color: #ff248a;;
   border: 1px solid rgb(0 0 0 / .3);
   box-shadow: 0 0 7px #ff248a;
}

.bxGrafico .cuadriculas .espera {
   background-color: rgb(0 0 0  / .3);
   border: 1px solid rgb(0 0 0 / .3);;
}

.bxInfo {
   background-color: #32347a;
   border-radius: 10px;
   color: #c4c4c4;
   position: relative;
   height: max-content;
   padding: 20px;
   width: max-content;
   box-shadow: 25px 25px 75px rgb(0 0 0 / .25),   
               10px 10px 70px rgb(0 0 0 / .25), 
               inset 5px 5px 10px rgb(0 0 0 / .5),
               inset 5px 5px 20px rgb(255 255 255 / .2),
               inset -5px -5px 15px rgb(0 0 0 / .75);

}

.tituloResumen {
   color: rgb(255 255 255 / .5);
}

.bxInfo .clrRojo {
   color: #ff248a;
}

.bxInfo .clrNaranja {
   color: #f1a762;
}

.bxModal .modal {
   background-color: #282828;
   color: red;
   width: 250px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}